{% extends "base.html" %}


{% block title %} index {% endblock %}


{% block content %}
     <div style="margin: 15% 40%;">
        <h1>Sign up with your email</h1>

       <form action="{%  url 'userandadmin:login' %}" method="post">
           {% csrf_token %}
            <p>
                <label for="id_username">Email address：</label>
                <input type="text" id="id_username" name="email" placeholder="Email address" autofocus required />
            </p>

            <p>
                <label for="id_password">Password：</label>
                <input type="password" id="id_password" placeholder="At least 6 characters" name="password" required >
            </p>
            <input type="submit" value="Sign up">
        </form>
    </div>


{% endblock content %}




