<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> base</title>

    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>


<nav class="navbar navbar-default" role="navigation" style="background: lightgray">
    <div class="container-fluid ">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'userandadmin:index' %}" style="color: white">NSW Lodging</a>
        </div>
        <ul class="nav navbar-nav navbar-right">

            {% if user.is_authenticated %}

                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            style="background: lightgray">
                        {{ user.first_name }}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'userandadmin:editprofile' %}"> Edit Profile</a></li>
                        <li><a href="{% url 'userandadmin:accountsetting' %}"> Account Settings</a></li>
                        <li><a href="{% url 'userandadmin:logout' %}"> log out</a></li>
                    </ul>


                </div>

            {% else %}

                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            style="background: lightgray">
                        My profile
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'userandadmin:login' %}"> log in </a></li>
                        <li><a href="{% url "userandadmin:register" %}">sign up</a></li>
                    </ul>
                </div>
            {% endif %}


        </ul>
    </div>
</nav>


{% block content %}
{% endblock content %}

</body>


</html>