{% extends "base.html" %}


{% block title %} index {% endblock %}


{% block content %}

    <h1> search module </h1>



    <form action="{% url 'property:search' %}" method="GET">

        <input name="q" value="" placeholder="e.g. Sydney" style="
                                                            width: 400px;
                                                            height: 40px;
                                                            border-width: 3px;
                                                            border-radius: 8px;
                                                            border-color:  lightblue;">
        <button type="submit" style="
                height:  40px;
                width: 80px;
                background-color: lightskyblue;">Search</button>
    </form>


{% endblock content %}




