{% extends "base.html" %}


{% block title %} index {% endblock %}

{% block content %}

    <style>
        body {
            background-color: rgba(82, 75, 74, 0.13);
        }
        .centered-form {
            margin-top: auto;
            overflow: auto;
            padding: auto;
        }

        .container {
            overflow: auto;
            padding: auto;
        }

        .centered-form .panel {
            background: rgba(255, 255, 255, 0.8);
            box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
        }

    </style>

    <div class="container">
        <div class="row centered-form">
            <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"> Search property
                        </h3>
                    </div>
                    <div class="panel-body">
                        <form action="{% url 'property:multi_search' %}" method="post">
                            {% csrf_token %}
                            {{ search_form.as_ul}}
                            <input type="submit" value="Search Property" class="btn btn-info btn-block">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>





<div class='col-sm-8 col-sm-offset-2'>

    {% for property in properties %}
        <div class="row">
            <div class="col-sm-12">
                <div class="thumbnail">
                    <div class="caption">
                        <p>{{ property.price }}</p>
                        <p>{{ property.types_property}}</p>
                        <p>{{ property.city }}</p>
                        <p>{{ property.state }}</p>
                        <p>{{ property.address }}</p>
                        <p><a href="" class="btn btn-primary" role="button">View</a></p>
                    </div>
                </div>
            </div>
        <hr/>
        </div>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if properties.has_previous %}
                <a href="?page=1&q={{ request.GET.q }}">&laquo; first</a>
                <a href="?page={{ properties.previous_page_number }}&q={{ request.GET.q }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ properties.number }} of {{ properties.paginator.num_pages }}.
            </span>

            {% if properties.has_next %}
                <a href="?page={{ properties.next_page_number }}&q={{ request.GET.q }}">next</a>
                <a href="?page={{ properties.paginator.num_pages }}&q={{ request.GET.q }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>


</div>
{% endblock content %}