{% extends "loginbase.html" %}


{% block title %} Search results {% endblock %}

{% block content %}




<div class='col-sm-8 col-sm-offset-2'>

    {% for property in properties %}
        <div class="row">
            <div class="col-sm-12">
                <div class="thumbnail">
                    <div class="caption">
                        <p>{{ property.price }}</p>
                        <p>{{ property.types_property}}</p>
                        <p>{{ property.city }}</p>
                        <p>{{ property.state }}</p>
                        <p>{{ property.address }}</p>
                        <p><a href="" class="btn btn-primary" role="button">View</a></p>
                    </div>
                </div>
            </div>
        <hr/>
        </div>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if properties.has_previous %}
                <a href="?page=1&q={{ request.GET.q }}">&laquo; first</a>
                <a href="?page={{ properties.previous_page_number }}&q={{ request.GET.q }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ properties.number }} of {{ properties.paginator.num_pages }}.
            </span>

            {% if properties.has_next %}
                <a href="?page={{ properties.next_page_number }}&q={{ request.GET.q }}">next</a>
                <a href="?page={{ properties.paginator.num_pages }}&q={{ request.GET.q }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>


     <div class="pagination">
        <span class="step-links">
            {% if properties.has_previous %}
                <form action="{% url 'property:simple_search' %}" method="GET">
                {% csrf_token %}
                    <input type="hidden" value="1" name="page">
                    <input type="hidden" value="{{ check_in }}" name="check_in">
                    <input type="hidden" value="{{ check_out }}" name="check_out">
                    <input type="hidden" value="{{ type }}" name="type">
                    <input type="hidden" value="{{ city }}" name="city">
                    <input type="hidden" value="{{ price }}" name="price">
                    <button type="submit">&laquo; first</button>
                </form>
                <form action="{% url 'property:simple_search' %}" method="GET">
                {% csrf_token %}
                    <input type="hidden" value="{{ properties.previous_page_number }}" name="page">
                    <input type="hidden" value="{{ check_in }}" name="check_in">
                    <input type="hidden" value="{{ check_out }}" name="check_out">
                    <input type="hidden" value="{{ type }}" name="type">
                    <input type="hidden" value="{{ city }}" name="city">
                    <input type="hidden" value="{{ price }}" name="price">
                    <button type="submit">previous</button>
                </form>
            {% endif %}

            <span class="current">
                Page {{ properties.number }} of {{ properties.paginator.num_pages }}.
            </span>

            {% if properties.has_next %}
                <form action="{% url 'property:simple_search' %}" method="GET">
                {% csrf_token %}
                    <input type="hidden" value="{{ properties.next_page_number }}" name="page">
                    <input type="hidden" value="{{ check_in }}" name="check_in">
                    <input type="hidden" value="{{ check_out }}" name="check_out">
                    <input type="hidden" value="{{ type }}" name="type">
                    <input type="hidden" value="{{ city }}" name="city">
                    <input type="hidden" value="{{ price }}" name="price">
                    <button type="submit">next</button>
                </form>
                <form action="{% url 'property:simple_search' %}" method="GET">
                {% csrf_token %}
                    <input type="hidden" value="{{ properties.paginator.num_pages }}" name="page">
                    <input type="hidden" value="{{ check_in }}" name="check_in">
                    <input type="hidden" value="{{ check_out }}" name="check_out">
                    <input type="hidden" value="{{ type }}" name="type">
                    <input type="hidden" value="{{ city }}" name="city">
                    <input type="hidden" value="{{ price }}" name="price">
                    <button type="submit">last &raquo;</button>
                </form>
            {% endif %}
        </span>
    </div>


</div>
{% endblock content %}